:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  color-scheme: light dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  user-select: none;
  -webkit-user-select: none;
  --Deep: #ecedf2;
  --Shallow: #f5f3f3;
  --theme: #db5a6b;
  --Virtual: #bbb;
  --Real: #120e10;
  --Inverse: #6ca984;
}

* {
  -webkit-user-drag: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  text-align: center;
}

a,
a:active,
a:hover,
a:visited,
a:link,
a:focus {
  text-decoration: none;
  color: var(--theme);
}
.Loading-enter-active,
.Loading-leave-active,
.page-enter-active,
.page-leave-active {
  transition: all 0.36s;
}
.Loading-enter-from,
.Loading-leave-to,
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
